.comments
  %ul.list-group
    - comments.each do |comment|
      %li.list-group-item
        = comment.body
        - if current_user && comment.user == current_user
          =link_to '削除', post_comment_path(comment.post, comment), method: :delete, data: {confirm: '削除しますか？'}
